button {
  background-color: rgb(0, 114, 25);
  border: 0em;
}
table {
    border-collapse: collapse;
    background-color: black;
}
/* tr {
  border: 2em blueviolet solid;
}
td {
  border: 2em chartreuse solid;
} */
